
<section class="container my-5">
    <div class="pb-3 text-center">
        <h1 class="display-1">Welcome to random recipe app</h1>
        <br>
        <p class="h3">Find your favourite recipes, but make sure to create an account and save them in lists! </p>
        <br>
        <img src="../../../assets/img/fortunewheel.jpg" alt="fortune wheel">
    </div>
</section>

<section class="container my-5">
    <div class="list-group d-flex justify-content-around">
        <h2 class="list-group-item text-center h3">Filter recipes</h2>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dishType('starter')">Starters</button>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dishType('main course')">Main courses</button>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dishType('dessert')">Desserts</button>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dietVegan()">Vegan</button>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dietGlutenFree()">Gluten free</button>
        <button type="button" class="list-group-item btn btn-secondary h4" (click)="dietDairyFree()">Dairy free</button>
        <!--<button type="button" class="list-group-item btn btn-secondary h4" (click)="filterReset()">Reset filters</button>-->
        <button type="button" class="list-group-item btn btn-outline-success h4" (click)="getAllRecipes()">Give me 50 new random recipes!</button>
    </div>
</section>

<section class="container my-5">
    <div class="pb-3 text-center">
      <h2 class="display-1">Recipes</h2>
    </div>

    <!-- Display movies in genre -->
    <div class="d-flex justify-content-evenly">
      <div *ngIf="!filterActive" class="row">
        <div *ngFor="let recipe of recipes" class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-1 m-2 justify-content-center" style="width: 350px">
            <h3 class="text-center h4">{{ recipe.title }}</h3>
            <img routerLink="/recipe/{{recipe.id}}" routerLinkActive="active" src="{{ recipe.image }}" alt="recipe image" class="card-img-top pb-1 " style="height: 280px;">
            <p class="h6 text-center">Diet labels: {{ recipe.diets }}</p> 
            <p class="h6 text-center">Dishtype labels: {{recipe.dishTypes}}</p>
            <div class="d-flex justify-content-center">
            <a class="btn btn-success" style="width: 40%;" routerLink="/recipe/{{recipe.id}}" routerLinkActive="active">Go to recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



