<div *ngIf="recipe" class="container text-center my-5">
    <div class="m-2">
        <h2 class="display-2">{{ recipe.title }}</h2>
    </div>

    <!--Image and description section-->
    <section class="container">
        <img src="{{ recipe.image }}" class="img-fluid mb-3" alt="Recipe image">
        <div class="d-flex justify-content-around">
            <div class="my-3" *ngIf="!isSignedIn">
                <a class="h5" routerLink="/register">Create an account to save recipes in lists</a>
            </div>
        <!-- Add recipe to list -->
            <div *ngIf="isSignedIn">
                <div *ngFor="let recipeList of allRecipeLists">
                    <button (click)="onAddToList(recipeList.id, recipe)" id="{{recipeList.id}}" class="btn btn-primary my-2" type="submit">+ Add to list {{recipeList.name}}</button>
                </div>
                <div class="my-3" *ngIf="allRecipeLists.length === 0">
                    <a class="h5" routerLink="/recipe-lists">Create a list to add recipes</a>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <h3 class="display-6 mb-2">Ingredients</h3>
            <p *ngFor="let ingredient of recipe.extendedIngredients">{{ingredient.original}}</p>
            <h3 class="display-6 mb-2">Instructions</h3>
            <div>{{recipe.instructions}}</div>
        </div>
    </section>
</div>


        


